@model IEnumerable< olashop.Models.Category>
    <style>
            #l
            {
                padding-left: 20%;
            }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="l">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">AllCategory</a>
      
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="SearchWithCat" asp-route-id="@item.Id">@item.Name</a>
                    </li>
                }


            </ul>
        </div>
    </nav>